$snapHeight: 48px;
$snapWidth: 85px;
$scrollbarHeight: 10px;

html {
  background-color: black;
  color: white;
}

label {
  color: white;
}

video {
  background-color: green;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.camMain:focus {
  outline: 0;
}

.snap {
  height: $snapHeight;
  width: $snapWidth;
  border: white 1px solid;
  cursor: pointer;
}

.snap:hover {
  border: rgb(255, 238, 0) 2px solid;
}

.selectedSnap, .selectedSnap:hover {
  border: rgb(255, 128, 0)2px solid;
}

.takeSnap:hover {
  border: white 1px solid;
}

.reel {
  color: darkgray;
  background-color: #303030;
  height: $snapHeight;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.offcanvas-body {
  background-color: #303030;
  color: white;
}

.offcanvas-header {
  background-color: #303030;
  color: white;
}

.blackmodal {
  background-color: #303030;
  color: white;
}